* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    overflow-x: hidden; 
    width: 100vw;
}

.bold-high{
    font-weight:700;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.bold-medium{
    font-weight: 600;
}

.big{
    font-size: 2.5rem;
    font-weight: 300;
}

.big-thin{
    font-size: 2.5rem;
    font-weight: 100;
}

.thin{
    font-weight: lighter;
}
.container {
    background-image: url(../img/background-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}

:root {
    --firstColor: #313131;
    --secondColor: #ee7326;
    /* --firstColor: #313131;
    --secondColor: #e5954d; */
}

.orangeColor {
    color: var(--secondColor);
}

.navbar {
    background-color: rgba(81, 94, 109, 0.44);
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.navbar a {
    color: rgba(255, 255, 255, 1);
    padding: 10px 16px;
    margin: 0.5rem;
}

.navbar-right a:hover{
    border-bottom: #e5954d 3px solid;
}

.navbar-right{
    margin-right: 1.2rem;
}
.companyName {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
}

.companyName i {
    margin-right: 0.2rem;
    margin-left: 1rem;
}

.container-content {
    height: 92vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    color: white;
    position: relative;
    z-index: 1;
}

.container-content a {
    color: white;
    padding: 1rem;
    background-color: var(--secondColor);
    border-radius: 6px;
    font-weight: bold;
    width: 150px;
}

.container-content h1 {
    font-size: 3.25rem;
    font-weight: 300;
}

.container-content p {
    font-size: 1.5rem;
    padding: 14px 16px;
    font-weight:400;
}

.black{      /* Karartma eklendi */
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    opacity: 0.44;
}

.boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 35vh;
    width: 100vw;
}

.box i{
    font-size: 30px;
    border: 1px solid var(--secondColor);
    background-color: var(--secondColor);
    border-radius: 50%;
    color: white;
    width: 60px;
    height: 45px;
    padding: 8px 2px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.box1{
    width: 20vw;
}

.box2{
    width: 20vw;
}

.box3{
    width: 20vw;
}


.third-page{
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.photo{
    width: 50vw;
    height: 60vh;
    background: url(../img/what-is-Software-Engineering.jpg) no-repeat center center/cover;
}

.photo img{
    text-align: center;
}

.content{
    background-color: var(--secondColor);
    width: 50vw;
    height: 60vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    gap: 1rem;
    font-family: 'Open Sans', sans-serif;
}

.content a{
    border: 2px solid white;
    border-radius: 3px;
    padding: 12px ;
    margin-top: 1rem;
    width: 10.5rem;
    color: white;
    text-align: center;
}

.content a:hover {
    background-color: white;
    color: orange;
}

.third-content{
    letter-spacing: 1.5px;
    font-family: 'Roboto' , sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.6rem;
}






.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    position: relative;
    left: -10px;
    margin-bottom: 1rem;
}

.image{
    height: 35vh;
    width: 24.5vw;
    text-align: center;
    overflow: hidden;
}

.image img{
    height: 35vh;
    width: 24vw;
    object-fit: cover; /* imglere ulaşıp! coverlattık. */
}

.content-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 0.4rem;
}

.forth-page{
    width: 100vw;
}

.forth-header{
    font-size: 5rem;
    font-weight: 200;
}

.forth-main-content{
    font-weight: 300;
}

.fifth-page{
    display: flex;
    width: 100vw;
}

.fifth-left{
    width: 50vw;
    height: 60vh;
    background-color: rgb(245, 255, 47);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-left: 1.5rem;
    padding-right: 2rem;
    color: white;
    line-height: 2rem;
    font-weight: 300;
}

.fifth-left a{
    border: 2px solid white;
    border-radius: 3px;
    padding: 12px ;
    margin-top: 1rem;
    width: 10.5rem;
    color: white;
    text-align: center;
}

.fifth-right{
    width: 50vw;
    height: 60vh;
    background: url('../img/right-side.jpeg') no-repeat center/cover;
}